header {
    padding: 60px;
    text-align: center;
    //background: #1abc9c;
    background-color:  rgb(240, 229, 130);
    color: rgb(65, 55, 214);
    font-size: 30px;
}

//phone
@media only screen and (max-width: 715px) {
}

// tablet
@media only screen and (max-width: 990px) {
}

// desktop
@media only screen and (min-width: 901px) {
}
